.container { 
    background-color: black;
    height: 300px;
    width: 150px;
    position: absolute;
    top : calc(50% - 150px);
    right: calc(50% - 75px);
    z-index: -1;
}
.container .light{
    visibility: hidden;
    height: 30px;
    width: 30px;
    position: absolute;
    top: calc(40px + 80px*(var(--i)));
    right: calc(50% - 15px);
    border-radius: 50%;
    animation: animate 3s infinite;
    animation-delay: calc(1s * var(--i));
}

.container .light::after{
    visibility: hidden;
    content: '';
    height: 30px;
    width: 30px;
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 50%;
    filter: blur(12px) brightness(5);
    z-index: -1000;
    animation: animate 3s infinite;
    animation-delay: calc((1s * var(--i)));
}
@keyframes animate {
    0%{
        visibility: unset;
    }
    50%{
        opacity: 0.7;
    }
    100%{
        background-color: black;
    }
}
.container :first-child::after{
    background-color: rgb(246, 18, 18)
}
.container :nth-child(2)::after{
    background-color: rgb(234, 234, 35);
}
.container :last-child::after{
    background-color: green;
}
.container :first-child{
    background-color: rgb(228, 21, 21 , 0.5)
}
.container :nth-child(2){
    background-color: rgb(234, 234, 35,0.5);
}
.container :last-child{
    background-color: green;
}